.summary-card {
  background-color: white;
  font-size: 0.9rem;
  margin: 2rem 0rem;
  margin-bottom: 4rem;
}

.summary-card-header {
  padding: 1rem 1.2rem;
  font-weight: 700;
  color: var(--grey500);
  border-bottom: 2px solid var(--grey100);
  margin-bottom: 1rem;
}

.summary-card-text {
  justify-content: space-between;
  padding: 0.25rem 1.2rem;
}

@media only screen and (min-width: 800px) {
  .summary-card {
    width: 15rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 0.5rem 2rem;
    margin: 0rem;
  }
}

@media only screen and (min-width: 1000px) {
  .summary-card {
    width: 20rem;
  }
}
