@media only screen and (min-width: 800px) {
  .cart {
    width: 80%;
    margin: 0rem auto;
  }

  .cart-grid-desktop {
    display: flex;
    justify-content: space-evenly;
  }

  .cart > h2 {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--borderblue);
    font-weight: 800;
  }

  .card-cart {
    width: 35rem;
    height: auto;
    margin: 0;
    margin-bottom: 2rem;
  }

  .card-column {
    padding: 1rem;
  }

  .cart-product-desktop {
    grid-area: cart-product-desktop;
  }

  .cart-empty-button {
    margin: 2rem 0rem;
    justify-content: space-evenly;
  }

  .scale-11 {
    transform: scale(1.1);
  }

  .empty-icon {
    width: 10rem;
    height: auto;
    margin: 3rem;
  }

  .cart-summary-flex {
    align-items: center;
    margin-left: 2rem;
  }

  .order-button {
    border-top: 1px solid var(--grey200);
    background-color: var(--blue800);
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 0.8rem;
    width: 100%;
    height: 2.2rem;
    cursor: pointer;
    border: 0;
    margin: 2rem 0rem;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
  }
}
