@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

.address-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.address-page > h2 {
  font-weight: 800;
  margin: 2rem 0rem;
}

.add-address-button {
  border: 1px solid var(--borderblue);
  background-color: var(--blue800);
  color: white;
  width: 10rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
}

.card-button {
  border: 0;
  background-color: white;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1.5rem;
}
